.about-container{
    display: flex;
    background-color: black;
    color: white;
    height: 65vh; 
    padding: 20px 0 10px 0; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
